.App {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.game-board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-piece {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
}
